Checks: "-*,\
  boost-*,\
  bugprone-*,\
  -bugprone-macro-parentheses,\
  -bugprone-exception-escape,\
  -bugprone-easily-swappable-parameters,\
  cert-*,\
  -cert-err58-cpp,\
  cppcoreguidelines-*,\
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,\
  -cppcoreguidelines-pro-type-union-access,\
  -cppcoreguidelines-macro-usage,\
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,\
  -cppcoreguidelines-pro-type-vararg,\
  -cppcoreguidelines-special-member-functions,\
  -cppcoreguidelines-owning-memory,\
  -cppcoreguidelines-avoid-goto,\
  -cppcoreguidelines-avoid-magic-numbers,\
  -cppcoreguidelines-non-private-member-variables-in-classes,\
  -cppcoreguidelines-avoid-non-const-global-variables,\
  clang-analyzer-*,\
  -clang-analyzer-cplusplus.NewDeleteLeaks,
  google-*,\
  -google-readability-function-size,\
  -google-readability-avoid-underscore-in-googletest-name,\
  misc-*,\
  -misc-non-private-member-variables-in-classes,\
  modernize-*,\
  -modernize-use-trailing-return-type,\
  -modernize-use-equals-default,\
  -modernize-use-equals-delete,\
  performance-*,\
  readability-*,\
  -readability-magic-numbers,\
  -readability-function-size,\
  -readability-function-cognitive-complexity,\
  "
WarningsAsErrors: "*"
HeaderFilterRegex: "ge/.*"
FormatStyle: file
AnalyzeTemporaryDtors: false
CheckOptions:
  - key: readability-identifier-naming.TypedefCase
    value: CamelCase
  - key: readability-identifier-naming.TypeAliasCase
    value: CamelCase
  - key: readability-identifier-naming.NamespaceCase
    value: lower_case
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.PublicMethodCase
    value: lower_case
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.UnionCase
    value: CamelCase
  - key: readability-identifier-naming.EnumCase
    value: CamelCase
  - key: readability-identifier-naming.PrivateMemberCase
    value: lower_case
  - key: readability-identifier-naming.PrivateMemberSuffix
    value: _
  - key: readability-identifier-naming.ProtectedMemberCase
    value: lower_case
  - key: readability-identifier-naming.PublicMemberCase
    value: lower_case
  - key: readability-identifier-naming.ConstantMemberCase
    value: lower_case
  - key: readability-identifier-naming.ParameterCase
    value: lower_case
  - key: readability-identifier-naming.LocalVariableCase
    value: lower_case
  - key: readability-identifier-naming.StaticVariableCase
    value: lower_case
  - key: readability-identifier-naming.GlobalVariableCase
    value: UPPER_CASE
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.MethodCase
    value: lower_case
  - key: readability-identifier-naming.TemplateParameterCase
    value: CamelCase
  - key: readability-identifier-naming.LocalConstantCase
    value: lower_case
  - key: readability-identifier-naming.ClassConstantCase
    value: lower_case
  - key: readability-identifier-naming.GlobalConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.StaticConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.ClassMethod
    value: lower_case
